<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Foodify · Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="stylesheet" type="text/css" href="/static/webfontkit/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="/static/images/speakers-icon-spotify.ico">
</head>

<body id="mainBody" class="gx-5">
  <main id="large" class="px-5">
    <nav id="navbar" class="container-fluid d-flex align-items-center p-3 px-5">
      <div class="me-auto">
        <a class="_bold _ls-1 fs-1 text-black" href="/views/index.html">
          <img src="/static/images/speakers-icon-spotify.png" alt="Logo" width="24" height="36"
            class="d-inline-block mb-1 me-1">Foodify
        </a>
      </div>
      <div>
        <a class="_medium _ls-1 fs-3 text-black" href="/views/about.html">About</a>
      </div>
    </nav>
    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="d-flex flex-column justify-content-center align-items-center text-black text-center">
        <div method="GET" name="searchQuery">
          <h1 class="display-1 _bold _ls-3 _cur-context">Food Playlists</h1>
          <label id="searchLabel" for="recipeInput" class="w-50">
            <h2 class="h4 _medium _ls-1 form-label pb-3">Get a playlist for your dinner based on the occasion, mood and
              the foods nationality.</h2>
          </label>
          <input id="searchInput" class="_book _input-field form-control m-auto w-75" type="text"
            placeholder="Search for a recipe!" name="searchInput">
          <a href="recipes/load-recipes.html" type="button" id="postRecipe"></a>
        </div>
      </div>
    </div>
  </main>
  <main id="small" class="visually-hidden">
    <nav id="navbar" class="container-fluid d-flex justify-content-between align-items-end p-3">
      <img src="/static/images/speakers-icon-spotify.png" alt="Logo" width="50" height="74">
      <a class="display-1 _bold _ls-1 text-black ms-2" href="/views/index.html">Foodify</a>
      <a class="fs-3 _medium _ls-1 text-black" href="/views/about.html">About</a>
    </nav>
    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="d-flex flex-column justify-content-center align-items-center text-black text-center">
        <div method="GET" name="searchQuery">
          <h1 class="display-1 _bold _ls-2 _cur-context">Food Playlists</h1>
          <label id="searchLabel" for="recipeInput" class="">
            <h2 class="h5 _book _ls-1 form-label pb-3">Get a playlist for your dinner based on the occasion, mood and
              the foods nationality.</h2>
          </label>
          <input id="searchInput" class="_book _input-field form-control m-auto w-100" type="text"
            placeholder="Search for a recipe!" name="searchInput">
          <a href="recipes/load-recipes.html" type="button" id="postRecipe" hidden="hidden"></a>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/static/script.js"></script>
  <script src="/static/responsive.js" type="text/javascript"></script>
  <script src="/static/getIngredients.js" type="text/javascript"></script>

</body>

</html>
