body {
  background-color: rgb(161, 197, 211) !important;
  background: url(/static/images/food_hands.jpg);
  background-size: 150vw;
  background-repeat: no-repeat;
  background-position: ;
}

#about, #rotw, #home {
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 100;
}

#home {
  font-weight: 700;
  font-size: 2rem;
}

#navbar a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

#searchLabel {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

#searchRecipe {
  width: 50vw;
  height: 70vh;
}

#searchInput {
  width: 40rem;
  height: 4rem;
  font-size: 1.3rem;
}

#hands {
  position: absolute;

}